html {
  font-size: 16px;
  line-height: 23px;
}
body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.4375em;
}
h1 {
  font-size: 4.25em;
  line-height: 1.01470588em;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
h2 {
  font-size: 2.625em;
  line-height: 1.0952381em;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
h3 {
  font-size: 1.625em;
  line-height: 1.76923077em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1em;
  line-height: 1.4375em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
p {
  font-size: 16px;
  line-height: 1em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


