.check {
  color: black;
  width: 14px;
  height: 8px;
  border-bottom: solid 3px currentColor;
  border-left: solid 3px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close {
  color: white;
  position: relative;
  width: 21px;
  height: 21px;
}

.close:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}


