button {
  position:relative;
  overflow:hidden;
  width:7rem;
  color:$black;
  border:2px solid $black;
  background-color:transparent;
  cursor:pointer;
  line-height:2;
  margin:0;
  padding:0;
  border-radius:1.5rem;
  font-size:1.125rem;
  text-transform:lowercase;
  outline:none;
  transition:transform .125s;

  &:active {
      transform:scale(.9,.9);
  }

  &:before,
  &:after {
      position:absolute;
      opacity:0;

      border-radius:50%;
      background-color:#fff;
      top:50%;
      left:50%;
      margin-top:-1.125rem;
      margin-left:-1.125rem;
      width:2.25rem;
      height:2.25rem;

      content:'';
      z-index:1;
  }
}