input[type="text"], textarea, select {
  width: 100%;
  border: 2px solid #e8e8e8;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  margin-bottom: 1rem;
}
input[type="text"]:focus, textarea:focus, select:focus {
 outline: 0;
 border: 2px solid $black;
}
input[type="text"]:hover, textarea:hover, select:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 2px solid $black;
}

select {
  padding: 0;
}

option {
  font-size: 16px;
  margin-bottom: 1rem;
  padding: 1rem;
}
option:checked {
  color: white;
  background: #e8e8e8 -webkit-linear-gradient(bottom, $black 0%, #333 100%);
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-left: 42px;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
}
label::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 5px;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid $black;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 60%;
}
/* Checked */
// input[type="checkbox"]:checked + label,
// input[type="radio"]:checked + label {

// }
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  top: 0;
  background: $black;
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1.25em;
  background: $black;
  // border: 2px solid $black;
  outline: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;

  // Range Handle
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    transition: background .15s ease-in-out;
    -webkit-box-shadow: 2px 2px 61px 8px rgba(0,0,0,0.20);
    box-shadow: 2px 2px 61px 8px rgba(0,0,0,0.20);
    &:hover {
      background: #e3e3e3;
    }
  }

  &:active::-webkit-slider-thumb {
    background: #e3e3e3;
  }

  &::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    background: $black;
    cursor: pointer;
    transition: background .15s ease-in-out;
    -moz-box-shadow: 2px 2px 61px 8px rgba(0,0,0,0.20);
    box-shadow: 2px 2px 61px 8px rgba(0,0,0,0.20);

    &:hover {
      background: green;
    }
  }

  &:active::-moz-range-thumb {
    background: green;
  }
}