nav {
  margin-bottom: 2rem;

  a {
    color: $black;
    text-decoration: none;
  }

  .is-active {
    display: block !important;
  }

  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    background-color: white;
    border-bottom: 2px solid #e8e8e8;
    justify-content: space-between;
  
    h3 {
      margin: 0;
    }
  
  
    .brand {
      display: flex;
      align-items: center;
    }
  
    .nav {
      display: flex;
      align-items: center;
      flex: 1;
      margin-left: 4rem;
      margin-top: 5px;

      .item {
        margin-right: 2rem;
      }

      .dropdown {

        .menu {
          display: none;
          position: absolute;
          background-color: white;
          padding: 1rem;
          border-radius: 5px;
          margin-left: 1rem;
          -webkit-box-shadow: 24px 10px 61px 8px rgba(0,0,0,0.14);
          -moz-box-shadow: 24px 10px 61px 8px rgba(0,0,0,0.14);
          box-shadow: 24px 10px 61px 8px rgba(0,0,0,0.14);
          z-index: 10;
        }

      }
  
      @include breakpoint(xs) {
        display: none;
      }
    }
  
    .hamburger {
      align-items: center;
      padding-top: 7px;
      display: none;
  
      @include breakpoint(xs) {
        display: flex;
      }
  
      .line {
        width: 25px;
        height: 2px;
        background-color: $black;
        display: block;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
  
    .hamburger.is-active {
  
      .line:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
      }
      .line:nth-child(2) {
        opacity: 0;
      }
  
      .line:nth-child(3) {
        -webkit-transform: translateY(-6px) rotate(-45deg);
        -ms-transform: translateY(-6px) rotate(-45deg);
        -o-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
      }
    }
    
    
  }

  .navbar-right {
    flex: 0;
    justify-content: center;
  }

  .hamburger-dropdown {
    display: none;
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    padding: 1rem;

    .item {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
    

  }

}
