.notification {
  width: 100%;
  background-color: blue;;
  color: $black;
  transition: all 0.2s ease;
  margin-bottom: 2rem;
  
  &--alert {
    background-color: #FFABA8;
  }

  &--success {
    background-color: #4cd964;
  }

  &--warning {
    background-color: #FFFC31;
  }

  .iconContainer {
    @include breakpoint(xs) {
      padding-top: 1rem;
    }
    .icon {
      width: 20px;
      font-size: 20px;
      margin: 0 auto;
      margin-top: 1.2rem;
    }
  }

  .body {
    padding-left: 2rem;

    p {
      max-width: 90%;
    }
  }

  .closeContainer {
    position: relative;
    background-color: rgba(black, 0.3);
    color: #fff;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 20px;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    opacity: 1;
    cursor: pointer;
    display: block;

    @include breakpoint(xs) {
     margin-left: 93%;
     top: -100px;
    }

    .icon {
      position: relative;
      right: 12px;
      bottom: 1px;
    }

    &:hover {
      background-color: black;
    }
  }
}


